@import "~bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');

.fondo{
    background-image:url(../img/fondocarretera.png);
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
    font-family: 'Roboto Slab', serif;
    color: #F58840;
    letter-spacing: 1px;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
    margin-top: 13%;
}
.texto{
    margin-top:15%;
}
.subtitulo{
    color:#F9B208;
}
.traffic-light {
    background-color: black;
    padding: 10px;
    margin: auto;
    display: inline-block;
    border: 5px solid #423F3E;
    border-radius: 25px;
}

.light {
    width: 100px;
    height: 100px;
    border-radius: 65%;
    background-color: black;
}

.red{
    background-color: red;
    margin: 15px;
    
}
.yellow{
    background-color: yellow;
    margin: 15px;
    
}
.green{
    background-color: green;
    margin: 15px;

}

.glow {
    box-shadow: 2px 1px 20px #F98404, inset 2px 1px 20px #F9B208;
  
}